<div class="container-fluid">
    <div class="page-header">
        <h1><label >Disciplina</label></h1>
    </div>
    <div >
        <nav aria-label="...">
            <div class="col-lg-1">
                <button class="btn btn-primary" ng-click="irPara('/cadastroDisc')" >
                    <span class="glyphicon glyphicon-ok"></span>
                    Adicionar
                </button>
            </div>
            <div class="col-lg-10">
                <div >
                    <select ng-model="selected" class="form-control" ng-change="listaDiscCurso(selected)">
                        <option value=''>Escolha um curso</option>
                        <option ng-repeat="cli in cursos" value="{{cli.id}}">{{cli.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <ul class="pager">
                    <li><button class="btn btn-default btn-large" ng-click="voltPag(p)" ng-disabled="selected"><span class="glyphicon glyphicon-chevron-left"></span></button></li>
                    <li><button class="btn btn-default btn-large" ng-click="mudarPag(p)" ng-disabled="selected"><span class="glyphicon glyphicon-chevron-right"></span> </button></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>
        <table class="table">
            <thead>
            <tr><th>
                ID
            </th><th>
                Nome
            </th></tr>
            </thead>

            <tbody ng-repeat="cli in disciplinas">
            <tr><td>
                {{cli.id}}
            </td><td>
                {{cli.nome}}
            </td></tr>
            </tbody>
        </table>
    </div>
</div>